<html>
<body>
    <head>
        <title>
            Youtube Video Information
        </title>
    </head>

    <div>here's the info:</div>
    <h1>Video Info </h1>
    <h2>Video title : <%-videoInfo.title %></h2>
   <h4><img src=<%-imgSrc%> /></h4> 
    <h4>Video Id : <%-videoInfo.video_id %></h4>
    <h2>Video Description :</h2>
    <p> <%-videoInfo.description %></p>
    <h2>Video length : <%= (videoInfo.length_seconds/60) %> minutes</h2>
</body>

</html>